html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    transition: background-color 1s ease;
}

#title {
    color: indigo;
}

#chapter {
    color: orange;
}

#synodic {
    color: indigo;
}

#sidereal {
    color: blueviolet;
}

#numerology {
    margin: 60px;
}

#iching {
    color: black;
    margin: 0;
}

#hexagram {
    font-size: 200pt;
    margin: 0;
}

img {
    width: clamp(100px, calc(100vw - 2*20px), 500px);
}

span {
    font-weight: bold;
}

aside {
    font-size: 3rem;
    color: blueviolet;
    font-weight: bold;
}

a {
    text-decoration-line: none;
}

#pause, #stop {
    text-transform: uppercase;
}

#temp-max {
    color: red;
}

#temp-min {
    color: lightseagreen;
}