html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    transition: background-color 1s ease;
}

h1 {
    color: indigo;
}

a {
    text-decoration-line: none;
    padding-bottom: 20px;
}