:host {
	width: 100%;
	height: 100%;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: clamp(100px, calc(100vw - 2*20px), 500px);
}

figure {
	display: none;
}

svg {
	width: 100%;
	height: 100%;
	stroke: black;
}

polygon {
	fill: none;
	stroke-width: 0.2px;
}

iframe {
    width: clamp(100px, calc(100vw - 2*20px), 500px);
	aspect-ratio: 1 / 1;
	border: 0;
	display: none;
}